{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Group Portal{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="header">

    <div class="header-container">

        <a href="{% url 'poll_list' %}" class="logo">
            🗳️ Group Portal
        </a>

        <nav class="nav">

            <a href="{% url 'poll_list' %}">
                Голосування
            </a>

            {% if user.is_staff or user.is_superuser %}
                <a href="{% url 'poll_create' %}">
                    Створити
                </a>
            {% endif %}

            {% if user.is_authenticated %}

                <span class="username">
                    👤 {{ user.username }}
                </span>

                <form method="post"
                      action="{% url 'logout' %}"
                      class="logout-form">

                    {% csrf_token %}

                    <button type="submit"
                            class="logout-button">
                        Вийти
                    </button>

                </form>

            {% endif %}

        </nav>

    </div>

</header>


<main class="container">

    {% block content %}

    {% endblock %}

</main>


<footer class="footer">
    Group Portal • Django
</footer>

</body>
</html>