{% extends "base.html" %}
{% block title %}{{ advert.title }}{% endblock %}
{% block content %}
<h1 class="h3">{{ advert.title }}</h1>
<p class="text-muted">
    {{ advert.get_priority_display }} ·
  Автор: {{ advert.author }} · Оновлено: {{ advert.created_at|date:"d.m.Y H:i" }}
</p>
<div class="mb-3">
  <img src="{{ advert.image.url }}" class="card-img-top" alt="{{ advert.name|default:'photo' }}" style="max-width:500px">
</div>  
<div class="mb-3">{{ advert.description|linebreaks }}</div>

{% if user == advert.author %}
  <a href="{% url 'advert_update' advert.id %}" class="btn btn-outline-primary">Редагувати</a>
  <a href="{% url 'advert_delete' advert.id %}" class="btn btn-outline-danger">Видалити</a>
{% endif %}
{% endblock %}

{% block back %}
<a href="{% url 'advert_all_list' %}" class="btn btn-outline-primary back-btn">
    <i class="bi bi-arrow-left"></i> Назад
</a>
{% endblock %}
